altgraph==0.17
certifi==2020.6.20
chardet==3.0.4
demjson==2.2.4
future==0.18.2
hjson==3.0.2
idna==2.8
lxml==4.3.3
numpy==1.15.0
olefile==0.46
pefile==2019.4.18
Pillow==4.2.0
pyqtgraph==0.11.0
python-docx==0.8.3
requests==2.21.0
urllib3==1.24.3
xlrd==1.2.0

